<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">Mon Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('products') }}">Nos produits</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Qui sommes-nous ?</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact')}}">Contact</a>
                </li>
            </ul>
            <div class="navbar-item-custom">
                {% if app.user %}
            <a href="{{ path('account') }}">Mon compte <small>({{ app.user.firstname }})</small></a> | <a href="{{ path('app_logout') }}">Deconnexion</a>
            {% else %}
            <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
            {% endif %}
            </div>
            <a href="{{ path('cart')}}">
                <img src="{{ asset('assets/images/shopping-cart.png')}}" class="cart-icon" alt="Mon panier">
            </a>
        </div>
    </nav>
</header>